/* Anatomy of a Sandwich */


/* HEADER */

body {
    font-size: 14px;
	font-family: 'Montserrat', sans-serif;
	color: white;
	margin: 0px 0px 0px 0px;
	text-align: center;
}

.top {
    background: white;
    z-index: 220;
    position: relative;
}

.container {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.title {
    margin: 0px auto;
}

.element {
    color: black;
    opacity: .7;
}

#element-1 {
	font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    z-index: 5;
}

#element-2 {
    font-size: 130px;
	font-family: 'Playfair Display', serif;
    margin: -60px 0px 0px 0px; 
    z-index: 10;
}



/* ARROWS */

.fa-angle-down {
    font-size: 60px;
    display: block;
    color: #F2C129;
    padding: 45px 0px 10px 0px;
    text-align: center;
    position: absolute;
    bottom: 10px;
    margin: 0px auto;
    width: 100%;
}

.fa-angle-down:hover {
    opacity: 0.5;
}

.fa-angle-up {
    font-size: 60px;
    color: #F2C129;
    padding: 45px 0px 0px 0px;
}

#pageup {
    text-transform: uppercase;
    display: block;
    padding: 0px 0px 25px 0px;
}

#up {
    margin: 0px auto;
    position: absolute;
    bottom: 0px;
    width: 100%;
}



/* SECTIONS */

h2 {
    font-size: 55px;
	font-family: 'Playfair Display', serif;
	color: white;
    padding: 45px 0px 10px 0px;
    margin: 0px auto;
}

p {
    letter-spacing: 1px;
    margin: 0px auto;
    padding: 0px 0px 50px 0px;
    max-width: 400px;
}

section {
    position: relative;
    height: 100vh;
    box-shadow: 1px 1px 30px rgba(0,0,0,0.4);
}

.bread {
    background: #D95959;
    z-index: 200;
}

.meat {
    background: #ED9905;
    z-index: 180;
}

.lettuce {
    background: #108BB1;
    z-index: 160;
}

.cheese {
    background: #16A086;
    z-index: 140;
}

.tomatoes {
    background: #F29B88;
    z-index: 120;
}

.bread_cont {
    background: #D95959;
    z-index: 100;
}

.mmm {
    background: #ED9905;
    z-index: 80;
}

.section_imgs {
    margin: 0px auto;
    position: absolute;
    width: 100%;
    bottom: 140px;
}

.section_imgs img {
    width: 50vh;

}



/* SLIDE OUT NAV */

.navigation {
    list-style: none;
    background: #59BBD9;
    width: 100%;
    height: 100%;
    position: fixed;
    margin: 0;
    padding: 0px 5px 0px 5px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
}

.nav-item {
  width: 200px;
  border-top: 1px solid #108BB1;
  border-bottom: 1px solid #108BB1;
}

.nav-item a {
  display: block;
  padding: 1em;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 18px;
  text-decoration: none;
  transition: color 0.2s, background 0.5s;
}

.nav-item a:hover {
  color: #108BB1;
  background: none;
  text-transform: lowercase;
  font-family: 'Playfair Display', serif;
  line-height: 18px;

}

.site-wrap {
    min-width: 100%;
    min-height: 100%;
    position: relative;
    top: 0;
    bottom: 100%;
    left: 0;
    z-index: 1;
}

.nav-trigger {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

label[for="nav-trigger"] {
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 2;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-image: url("../images/sandwich_icon.svg");
    background-size: 100% 100%;
}

.nav-trigger:checked + label {
    left: 230px;
}

.nav-trigger:checked ~ .site-wrap {
    left: 215px;
    box-shadow: 0 0 7px 4px #108BB1;
}

.nav-trigger + label, .site-wrap {
    transition: left 0.2s;
}

body {
    overflow-x: hidden;
}